@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }  

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Quicksand", serif;
}

  /* sheared style */
  .display-flex{
    display: flex;
  }
  .primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.3rem;
    padding: 0.8rem;
    border: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 0.75rem;
  }

  :root {
    --violet: #5d58ef;
    --blue: #01acfd;
    --sky-blue: #05d4df;
    --orange: #fea301;
    --white: #ffffff;
  }

  nav {
    margin: 1.75rem auto;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    align-items: center;
  }
  li > a,
  li {
    text-decoration: none;
    list-style: none;
    margin: 0 2rem;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: var(--orange);
  }
  ul li:nth-child(1) a {
    color: var(--orange);
  }
  
  ul li:nth-child(2) a {
    color: var(--blue);
  }
  
  ul li:nth-child(3) a {
    color: var(--sky-blue);
  }
  
  ul li:nth-child(4) a {
    color: var(--violet);
  }

  .contact-btn {
    background-color: var(--orange);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.contact-btn:hover {
    background-color: darkorange;
    transform: scale(1.05);
}

  .toggle-bar {
    display: none;
  }


/* start banner part */
.banner {
    justify-content: center;
    align-items: center;
  }
  .banner-text {
    max-width: 40rem;
    margin-right: 3.5rem;
  }
  .banner-text h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  .banner-text p {
    margin: 1.5rem 0;
    color: #111;
    font-size: 1.25rem;
    font-weight: 400;
  }
  .banner-text button {
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .banner-text button:hover{
    background-color: rgba(163, 89, 15, 0.42);
    transform: scale(1.05);
  }
  h1 span:nth-child(1) {
    color: var(--orange);
  }
  h1 span:nth-child(3) {
    color: var(--blue);
  }

  /* standard-curriculum */

  .standard-curriculum{
    background-image: url(../assets/bg.png);
    margin: 1rem;
  }
  .standard-curriculum h1{
    text-align: center;
    color: #000000;
    font-size: 2.875rem;
    font-weight: 700;
  }
  .cards{
    justify-content: center;
    align-content: center;
    gap:2rem;
    margin: 5rem auto;
  }
  .card{
    max-width: 23rem;
    height: 30rem;
    padding: 3.8rem 3rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32.069px;
    flex-shrink: 0;
    border-radius: 18.864px;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  .card:nth-child(1){
    border: 0.943px solid #def5ff;
    background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
      #fff;
  }

  .card:nth-child(2){
    border: 0.943px solid #fff4dc;
    background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
      #fff;
  }
  .card:nth-child(3){
    border: 0.943px solid #f2e8ff;
    background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  }
  .read-more{
   
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
  }
  .card:nth-of-type(1) .read-more {
    color: var(--blue);
  }
  .card:nth-of-type(2) .read-more {
    color: var(--orange);
  }
  .card:nth-of-type(3) .read-more {
    color: var(--violet);
  }
  .sliders {
    display: flex;
    justify-content: center;
  }
  .left-arrow,
  .right-arrow {
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: var(--orange);
    border: none;
    margin: 0 0.3rem;
  }

  /*Our Stories part*/
.our-stories{
  padding: 5rem 0;
  background: linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    url(../assets/bg.png);
  background-size: cover;
  background-repeat: repeat-y;
}
.our-stories > h1{
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
}
.stories-container {
  justify-content: center;
  margin: 5rem auto;
  gap: 1.2rem;
}
.stories1{
  width: 34rem;
}
.stories1 p{
  padding: 1rem 3rem;
  text-align: left;
}
.stories1 button{
  background-color: var(--sky-blue);
}
.stories-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 18rem);
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.stories-box {
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
}

.stories-box img {
  width: 100%;
  height: auto;
}

.date {
  background: #95b226;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  font-size: 0.8rem;
  border: none;
  position: relative;
  top: -20px;
}
.stories-date-btn {
  background-color: var(--violet);
}
.stories-box h1 {
  font-size: 1rem;
  color: #333;
  padding: 0 2rem 2rem;
  text-align: start;
}
.view-all-btn {
  background-color: black;
  margin: auto;
}

/* add footer style */

footer{
  color: var(--white);
  background-color: var(--blue);
  justify-content: space-evenly;
  align-items: start;
  padding: 8rem 0;
}

.footer-logo{
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: start;
}

.footer-logo h1{
  font-weight: 700;
  font-size: 2.625rem;
}

.logo-with-text{
  max-width: 22rem;
}
.logo-with-text p{
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
}
.about-school > ul > li > a{
  color: var(--white);
  margin: 0;
}
.about-school >ul >li {
  margin: 0;
}
.about-school{
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.social-media {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: start;
}




/* mobile responsive */
@media screen and (max-width: 576px) {
    .nav-links,
    .contact-btn,
    .logo > h1 ,
    .sliders,
    .stories1{
      display: none;
    }
    .logo-img img {
      height: 47px;
      width: 47px;
    }
    nav {
      margin: 0;
      padding: 1rem;
      justify-content: space-between;
      border-bottom: 2px solid var(--orange); 
    }
    .toggle-bar {
      display: block;
      font-size: 2rem;
    }

    /* start banner part */
    .banner {
        flex-direction: column;
        align-items: center;
        margin: 1.5rem auto;
      }
    
      .banner img {
        order: -1;
        max-width: 80%;
      }
      .banner-text {
        text-align: center;
        margin: 1.5rem auto;
        max-width: 22rem;
      }
      .banner-text h1 {
        font-size: 2rem;
      }
      .banner-text p {
        font-size: 1rem;
        font-weight: 500;
      }
      .banner-text button {
        margin: auto;
      }
      /* card part*/
      .cards{
        flex-direction: column;
        margin: 4rem 3rem;
        justify-content: center;
      }

      /*our stories part */
      .stories-container{
        margin:2rem auto;
      }
      .stories-grid-container {
        grid-template-columns: repeat(2, 42%);
        gap: 1rem;
      }
      .stories-box h1 {
        font-size: 0.6rem;
        padding: 1.2rem;
      }
      .date {
        font-size: 0.5rem;
        padding: 0.4rem;
      }

      /*footer part */
      footer {
        flex-direction: column;
        padding: 4rem 1rem;
      }
      footer h1 {
        font-size: 2rem;
      }
      .footer-logo{
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: start;
      }
      .logo-with-text p{
        font-size: 1rem;
        font-weight: 300;
      }
      .about-school{
        margin: 2rem 0;
      }
    }